pandas==2.1.4
dbt-core==1.8.6
dbt-postgres==1.8.2
astronomer-cosmos==1.*
airflow-dbt-python[postgres]
psycopg2-binary
great_expectations
openpyxl
minio
PyMySQL
pymongo
cryptography
# python-telegram-bot
slack-sdk
